//Customize the Page with CSS
body {

    color: #f7f7f7;
  }
  //To assign image as our new background - create an entry that will style only the jumbotron 
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  